<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">
	<filter>
		<description>
		</description>
		<display-name>FiltroUsuarios</display-name>
		<filter-name>FiltroUsuarios</filter-name>
		<filter-class>com.ipartek.danilozano.Web.FiltroUsuarios</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FiltroUsuarios</filter-name>
		<url-pattern>/admin/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		
		
	</filter-mapping>
	<listener>
		<listener-class>com.ipartek.danilozano.Web.ListenerUsuario</listener-class>
	</listener>
</web-app>